{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://workdocs.amazonaws.com/"
        },
        {
            "url": "http://workdocs.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>The WorkDocs API is designed for the following use cases:</p> <ul> <li> <p>File Migration: File migration applications are supported for users who want to migrate their files from an on-premises or off-premises file system or service. Users can insert files into a user directory structure, as well as allow for basic metadata changes, such as modifications to the permissions of files.</p> </li> <li> <p>Security: Support security applications are supported for users who have additional security needs, such as antivirus or data loss prevention. The API actions, along with AWS CloudTrail, allow these applications to detect when changes occur in Amazon WorkDocs. Then, the application can take the necessary actions and replace the target file. If the target file violates the policy, the application can also choose to email the user.</p> </li> <li> <p>eDiscovery/Analytics: General administrative applications are supported, such as eDiscovery and analytics. These applications can choose to mimic or record the actions in an Amazon WorkDocs site, along with AWS CloudTrail, to replicate data for eDiscovery, backup, or analytical applications.</p> </li> </ul> <p>All Amazon WorkDocs API actions are Amazon authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of IAM users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the Amazon WorkDocs site, the IAM user gains full administrative visibility into the entire Amazon WorkDocs site (or as set in the IAM policy). This includes, but is not limited to, the ability to modify file permissions and upload any file to any user. This allows developers to perform the three use cases above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon WorkDocs",
        "version": "2016-05-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workdocs-2016-05-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "workdocs"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/workdocs/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/api/v1/activities": {
            "get": {
                "description": "Describes the user activities in a specified time period.",
                "operationId": "DescribeActivities",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Marker": {
                                            "description": "The marker for the next set of results.",
                                            "maxLength": 2048,
                                            "minLength": 1,
                                            "pattern": "[\\u0000-\\u00FF]+",
                                            "type": "string"
                                        },
                                        "UserActivities": {
                                            "description": "The list of activities for the specified user and time period.",
                                            "items": {
                                                "description": "Describes the activity information.",
                                                "properties": {
                                                    "CommentMetadata": {
                                                        "description": "Metadata of the commenting activity. This is an optional field and is filled for commenting activities.",
                                                        "properties": {
                                                            "CommentId": {
                                                                "description": "The ID of the comment.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\w+-.@]+",
                                                                "type": "string"
                                                            },
                                                            "CommentStatus": {
                                                                "description": "The status of the comment.",
                                                                "enum": [
                                                                    "DRAFT",
                                                                    "PUBLISHED",
                                                                    "DELETED"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "Contributor": {
                                                                "description": "The user who made the comment.",
                                                                "properties": {
                                                                    "CreatedTimestamp": {
                                                                        "description": "The time when the user was created.",
                                                                        "format": "date-time",
                                                                        "type": "string"
                                                                    },
                                                                    "EmailAddress": {
                                                                        "description": "The email address of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}",
                                                                        "type": "string"
                                                                    },
                                                                    "GivenName": {
                                                                        "description": "The given name of the user.",
                                                                        "maxLength": 64,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "Id": {
                                                                        "description": "The ID of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[&\\w+-.@]+",
                                                                        "type": "string"
                                                                    },
                                                                    "Locale": {
                                                                        "description": "The locale of the user.",
                                                                        "enum": [
                                                                            "en",
                                                                            "fr",
                                                                            "ko",
                                                                            "de",
                                                                            "es",
                                                                            "ja",
                                                                            "ru",
                                                                            "zh_CN",
                                                                            "zh_TW",
                                                                            "pt_BR",
                                                                            "default"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "ModifiedTimestamp": {
                                                                        "description": "The time when the user was modified.",
                                                                        "format": "date-time",
                                                                        "type": "string"
                                                                    },
                                                                    "OrganizationId": {
                                                                        "description": "The ID of the organization.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[&\\w+-.@]+",
                                                                        "type": "string"
                                                                    },
                                                                    "RecycleBinFolderId": {
                                                                        "description": "The ID of the recycle bin folder.",
                                                                        "maxLength": 128,
                                                                        "minLength": 1,
                                                                        "pattern": "[\\w+-.@]+",
                                                                        "type": "string"
                                                                    },
                                                                    "RootFolderId": {
                                                                        "description": "The ID of the root folder.",
                                                                        "maxLength": 128,
                                                                        "minLength": 1,
                                                                        "pattern": "[\\w+-.@]+",
                                                                        "type": "string"
                                                                    },
                                                                    "Status": {
                                                                        "description": "The status of the user.",
                                                                        "enum": [
                                                                            "ACTIVE",
                                                                            "INACTIVE",
                                                                            "PENDING"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "Storage": {
                                                                        "description": "The storage for the user.",
                                                                        "properties": {
                                                                            "StorageRule": {
                                                                                "description": "The storage for a user.",
                                                                                "properties": {
                                                                                    "StorageAllocatedInBytes": {
                                                                                        "description": "The amount of storage allocated, in bytes.",
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "StorageType": {
                                                                                        "description": "The type of storage.",
                                                                                        "enum": [
                                                                                            "UNLIMITED",
                                                                                            "QUOTA"
                                                                                        ],
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "StorageUtilizedInBytes": {
                                                                                "description": "The amount of storage used, in bytes.",
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "Surname": {
                                                                        "description": "The surname of the user.",
                                                                        "maxLength": 64,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "TimeZoneId": {
                                                                        "description": "The time zone ID of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "Type": {
                                                                        "description": "The type of user.",
                                                                        "enum": [
                                                                            "USER",
                                                                            "ADMIN",
                                                                            "POWERUSER",
                                                                            "MINIMALUSER",
                                                                            "WORKSPACESUSER"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "Username": {
                                                                        "description": "The login name of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[\\w\\-+.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]+)?",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "CreatedTimestamp": {
                                                                "description": "The timestamp that the comment was created.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "RecipientId": {
                                                                "description": "The ID of the user being replied to.",
                                                                "maxLength": 256,
                                                                "minLength": 1,
                                                                "pattern": "[&\\w+-.@]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Initiator": {
                                                        "description": "The user who performed the action.",
                                                        "properties": {
                                                            "EmailAddress": {
                                                                "description": "The email address of the user.",
                                                                "maxLength": 256,
                                                                "minLength": 1,
                                                                "pattern": "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}",
                                                                "type": "string"
                                                            },
                                                            "GivenName": {
                                                                "description": "The given name of the user before a rename operation.",
                                                                "maxLength": 64,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "Id": {
                                                                "description": "The ID of the user.",
                                                                "maxLength": 256,
                                                                "minLength": 1,
                                                                "pattern": "[&\\w+-.@]+",
                                                                "type": "string"
                                                            },
                                                            "Surname": {
                                                                "description": "The surname of the user.",
                                                                "maxLength": 64,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "Username": {
                                                                "description": "The name of the user.",
                                                                "maxLength": 256,
                                                                "minLength": 1,
                                                                "pattern": "[\\w\\-+.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]+)?",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "IsIndirectActivity": {
                                                        "description": "Indicates whether an activity is indirect or direct. An indirect activity results from a direct activity performed on a parent resource. For example, sharing a parent folder (the direct activity) shares all of the subfolders and documents within the parent folder (the indirect activity).",
                                                        "type": "boolean"
                                                    },
                                                    "OrganizationId": {
                                                        "description": "The ID of the organization.",
                                                        "maxLength": 256,
                                                        "minLength": 1,
                                                        "pattern": "[&\\w+-.@]+",
                                                        "type": "string"
                                                    },
                                                    "OriginalParent": {
                                                        "description": "The original parent of the resource. This is an optional field and is filled for move activities.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "The ID of the resource.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\w+-.@]+",
                                                                "type": "string"
                                                            },
                                                            "Name": {
                                                                "description": "The name of the resource.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "pattern": "[\\u0020-\\u202D\\u202F-\\uFFFF]+",
                                                                "type": "string"
                                                            },
                                                            "OriginalName": {
                                                                "description": "The original name of the resource before a rename operation.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "pattern": "[\\u0020-\\u202D\\u202F-\\uFFFF]+",
                                                                "type": "string"
                                                            },
                                                            "Owner": {
                                                                "description": "The owner of the resource.",
                                                                "properties": {
                                                                    "EmailAddress": {
                                                                        "description": "The email address of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}",
                                                                        "type": "string"
                                                                    },
                                                                    "GivenName": {
                                                                        "description": "The given name of the user before a rename operation.",
                                                                        "maxLength": 64,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "Id": {
                                                                        "description": "The ID of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[&\\w+-.@]+",
                                                                        "type": "string"
                                                                    },
                                                                    "Surname": {
                                                                        "description": "The surname of the user.",
                                                                        "maxLength": 64,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "Username": {
                                                                        "description": "The name of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[\\w\\-+.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]+)?",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ParentId": {
                                                                "description": "The parent ID of the resource before a rename operation.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\w+-.@]+",
                                                                "type": "string"
                                                            },
                                                            "Type": {
                                                                "description": "The type of resource.",
                                                                "enum": [
                                                                    "FOLDER",
                                                                    "DOCUMENT"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "VersionId": {
                                                                "description": "The version ID of the resource. This is an optional field and is filled for action on document version.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\w+-.@]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Participants": {
                                                        "description": "The list of users or groups impacted by this action. This is an optional field and is filled for the following sharing activities: DOCUMENT_SHARED, DOCUMENT_SHARED, DOCUMENT_UNSHARED, FOLDER_SHARED, FOLDER_UNSHARED.",
                                                        "properties": {
                                                            "Groups": {
                                                                "description": "The list of user groups.",
                                                                "items": {
                                                                    "description": "Describes the metadata of a user group.",
                                                                    "properties": {
                                                                        "Id": {
                                                                            "description": "The ID of the user group.",
                                                                            "maxLength": 256,
                                                                            "minLength": 1,
                                                                            "pattern": "[&\\w+-.@]+",
                                                                            "type": "string"
                                                                        },
                                                                        "Name": {
                                                                            "description": "The name of the group.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "Users": {
                                                                "description": "The list of users.",
                                                                "items": {
                                                                    "description": "Describes the metadata of the user.",
                                                                    "properties": {
                                                                        "EmailAddress": {
                                                                            "description": "The email address of the user.",
                                                                            "maxLength": 256,
                                                                            "minLength": 1,
                                                                            "pattern": "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}",
                                                                            "type": "string"
                                                                        },
                                                                        "GivenName": {
                                                                            "description": "The given name of the user before a rename operation.",
                                                                            "maxLength": 64,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "Id": {
                                                                            "description": "The ID of the user.",
                                                                            "maxLength": 256,
                                                                            "minLength": 1,
                                                                            "pattern": "[&\\w+-.@]+",
                                                                            "type": "string"
                                                                        },
                                                                        "Surname": {
                                                                            "description": "The surname of the user.",
                                                                            "maxLength": 64,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "Username": {
                                                                            "description": "The name of the user.",
                                                                            "maxLength": 256,
                                                                            "minLength": 1,
                                                                            "pattern": "[\\w\\-+.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]+)?",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "ResourceMetadata": {
                                                        "description": "The metadata of the resource involved in the user action.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "The ID of the resource.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\w+-.@]+",
                                                                "type": "string"
                                                            },
                                                            "Name": {
                                                                "description": "The name of the resource.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "pattern": "[\\u0020-\\u202D\\u202F-\\uFFFF]+",
                                                                "type": "string"
                                                            },
                                                            "OriginalName": {
                                                                "description": "The original name of the resource before a rename operation.",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "pattern": "[\\u0020-\\u202D\\u202F-\\uFFFF]+",
                                                                "type": "string"
                                                            },
                                                            "Owner": {
                                                                "description": "The owner of the resource.",
                                                                "properties": {
                                                                    "EmailAddress": {
                                                                        "description": "The email address of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}",
                                                                        "type": "string"
                                                                    },
                                                                    "GivenName": {
                                                                        "description": "The given name of the user before a rename operation.",
                                                                        "maxLength": 64,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "Id": {
                                                                        "description": "The ID of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[&\\w+-.@]+",
                                                                        "type": "string"
                                                                    },
                                                                    "Surname": {
                                                                        "description": "The surname of the user.",
                                                                        "maxLength": 64,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "Username": {
                                                                        "description": "The name of the user.",
                                                                        "maxLength": 256,
                                                                        "minLength": 1,
                                                                        "pattern": "[\\w\\-+.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]+)?",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ParentId": {
                                                                "description": "The parent ID of the resource before a rename operation.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\w+-.@]+",
                                                                "type": "string"
                                                            },
                                                            "Type": {
                                                                "description": "The type of resource.",
                                                                "enum": [
                                                                    "FOLDER",
                                                                    "DOCUMENT"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "VersionId": {
                                                                "description": "The version ID of the resource. This is an optional field and is filled for action on document version.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\w+-.@]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "TimeStamp": {
                                                        "description": "The timestamp when the action was performed.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Type": {
                                                        "description": "The activity type.",
                                                        "enum": [
                                                            "DOCUMENT_CHECKED_IN",
                                                            "DOCUMENT_CHECKED_OUT",
                                                            "DOCUMENT_RENAMED",
                                                            "DOCUMENT_VERSION_UPLOADED",
                                                            "DOCUMENT_VERSION_DELETED",
                                                            "DOCUMENT_VERSION_VIEWED",
                                                            "DOCUMENT_VERSION_DOWNLOADED",
                                                            "DOCUMENT_RECYCLED",
                                                            "DOCUMENT_RESTORED",
                                                            "DOCUMENT_REVERTED",
                                                            "DOCUMENT_SHARED",
                                                            "DOCUMENT_UNSHARED",
                                                            "DOCUMENT_SHARE_PERMISSION_CHANGED",
                                                            "DOCUMENT_SHAREABLE_LINK_CREATED",
                                                            "DOCUMENT_SHAREABLE_LINK_REMOVED",
                                                            "DOCUMENT_SHAREABLE_LINK_PERMISSION_CHANGED",
                                                            "DOCUMENT_MOVED",
                                                            "DOCUMENT_COMMENT_ADDED",
                                                            "DOCUMENT_COMMENT_DELETED",
                                                            "DOCUMENT_ANNOTATION_ADDED",
                                                            "DOCUMENT_ANNOTATION_DELETED",
                                                            "FOLDER_CREATED",
                                                            "FOLDER_DELETED",
                                                            "FOLDER_RENAMED",
                                                            "FOLDER_RECYCLED",
                                                            "FOLDER_RESTORED",
                                                            "FOLDER_SHARED",
                                                            "FOLDER_UNSHARED",
                                                            "FOLDER_SHARE_PERMISSION_CHANGED",
                                                            "FOLDER_SHAREABLE_LINK_CREATED",
                                                            "FOLDER_SHAREABLE_LINK_REMOVED",
                                                            "FOLDER_SHAREABLE_LINK_PERMISSION_CHANGED",
                                                            "FOLDER_MOVED"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnauthorizedResourceAccessException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "FailedDependencyException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/documents": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new document object and version object.</p> <p>The client specifies the parent folder ID and name of the document to upload. The ID is optionally specified when creating a new version of an existing document. This is the first step to upload a document. Next, upload the document to the URL returned from the call, and then call <a>UpdateDocumentVersion</a>.</p> <p>To cancel the document upload, call <a>AbortDocumentVersionUpload</a>.</p>",
                "operationId": "InitiateDocumentVersionUpload",
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Metadata": {
                                            "description": "The document metadata.",
                                            "properties": {
                                                "CreatedTimestamp": {
                                                    "description": "The time when the document was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "CreatorId": {
                                                    "description": "The ID of the creator.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "pattern": "[&\\w+-.@]+",
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "The ID of the document.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\w+-.@]+",
                                                    "type": "string"
                                                },
                                                "Labels": {
                                                    "description": "List of labels on the document.",
                                                    "items": {
                                                        "maxLength": 32,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*",
                                                        "type": "string"
                                                    },
                                                    "maxItems": 20,
                                                    "type": "array"
                                                },
                                                "LatestVersionMetadata": {
                                                    "description": "The latest version of the document.",
                                                    "properties": {
                                                        "ContentCreatedTimestamp": {
                                                            "description": "The timestamp when the content of the document was originally created.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "ContentModifiedTimestamp": {
                                                            "description": "The timestamp when the content of the document was modified.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "ContentType": {
                                                            "description": "The content type of the document.",
                                                            "maxLength": 128,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "CreatedTimestamp": {
                                                            "description": "The timestamp when the document was first uploaded.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "CreatorId": {
                                                            "description": "The ID of the creator.",
                                                            "maxLength": 256,
                                                            "minLength": 1,
                                                            "pattern": "[&\\w+-.@]+",
                                                            "type": "string"
                                                        },
                                                        "Id": {
                                                            "description": "The ID of the version.",
                                                            "maxLength": 128,
                                                            "minLength": 1,
                                                            "pattern": "[\\w+-.@]+",
                                                            "type": "string"
                                                        },
                                                        "ModifiedTimestamp": {
                                                            "description": "The timestamp when the document was last uploaded.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "Name": {
                                                            "description": "The name of the version.",
                                                            "maxLength": 255,
                                                            "minLength": 1,
                                                            "pattern": "[\\u0020-\\u202D\\u202F-\\uFFFF]+",
                                                            "type": "string"
                                                        },
                                                        "Signature": {
                                                            "description": "The signature of the document.",
                                                            "maxLength": 128,
                                                            "minLength": 0,
                                                            "pattern": "[&\\w+-.@]+",
                                                            "type": "string"
                                                        },
                                                        "Size": {
                                                            "description": "The size of the document, in bytes.",
                                                            "type": "integer"
                                                        },
                                                        "Source": {
                                                            "description": "The source of the document.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "enum": [
                                                                            "ORIGINAL",
                                                                            "WITH_COMMENTS"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "password",
                                                                        "maxLength": 1024,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Status": {
                                                            "description": "The status of the document.",
                                                            "enum": [
                                                                "INITIALIZED",
                                                                "ACTIVE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Thumbnail": {
                                                            "description": "The thumbnail of the document.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "enum": [
                                                                            "SMALL",
                                                                            "SMALL_HQ",
                                                                            "LARGE"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "password",
                                                                        "maxLength": 1024,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ModifiedTimestamp": {
                                                    "description": "The time when the document was updated.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "ParentFolderId": {
                                                    "description": "The ID of the parent folder.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\w+-.@]+",
                                                    "type": "string"
                                                },
                                                "ResourceState": {
                                                    "description": "The resource state.",
                                                    "enum": [
                                                        "ACTIVE",
                                                        "RESTORING",
                                                        "RECYCLING",
                                                        "RECYCLED"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "UploadMetadata": {
                                            "description": "The upload metadata.",
                                            "properties": {
                                                "SignedHeaders": {
                                                    "description": "The signed headers.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 256,
                                                                "minLength": 1,
                                                                "pattern": "[\\w-]+",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1024,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "UploadUrl": {
                                                    "description": "The URL of the upload.",
                                                    "format": "password",
                                                    "maxLength": 1024,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "EntityNotExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "EntityAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "StorageLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "StorageLimitWillExceedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ProhibitedStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "UnauthorizedResourceAccessException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "FailedDependencyException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "DraftUploadOutOfSyncException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "ResourceAlreadyCheckedOutException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ContentCreatedTimestamp": {
                                        "description": "The timestamp when the content of the document was originally created.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "ContentModifiedTimestamp": {
                                        "description": "The timestamp when the content of the document was modified.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "ContentType": {
                                        "description": "The content type of the document.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "DocumentSizeInBytes": {
                                        "description": "The size of the document, in bytes.",
                                        "type": "integer"
                                    },
                                    "Id": {
                                        "description": "The ID of the document.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\w+-.@]+",
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "The name of the document.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": "[\\u0020-\\u202D\\u202F-\\uFFFF]+",
                                        "type": "string"
                                    },
                                    "ParentFolderId": {
                                        "description": "The ID of the parent folder.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\w+-.@]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ParentFolderId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/api/v1/documents/{DocumentId}": {
            "delete": {
                "description": "Permanently deletes the specified document and its associated metadata.",
                "operationId": "DeleteDocument",
                "parameters": [
                    {
                        "in": "path",
                        "name": "DocumentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "EntityNotExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ProhibitedStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ConflictingOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "UnauthorizedResourceAccessException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "FailedDependencyException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Retrieves details of a document.",
                "operationId": "GetDocument",
                "parameters": [
                    {
                        "in": "path",
                        "name": "DocumentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "CustomMetadata": {
                                            "description": "The custom metadata on the document.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 56,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*",
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "maxLength": 256,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 8,
                                            "minItems": 1,
                                            "type": "array"
                                        },
                                        "Metadata": {
                                            "description": "The metadata details of the document.",
                                            "properties": {
                                                "CreatedTimestamp": {
                                                    "description": "The time when the document was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "CreatorId": {
                                                    "description": "The ID of the creator.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "pattern": "[&\\w+-.@]+",
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "The ID of the document.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\w+-.@]+",
                                                    "type": "string"
                                                },
                                                "Labels": {
                                                    "description": "List of labels on the document.",
                                                    "items": {
                                                        "maxLength": 32,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*",
                                                        "type": "string"
                                                    },
                                                    "maxItems": 20,
                                                    "type": "array"
                                                },
                                                "LatestVersionMetadata": {
                                                    "description": "The latest version of the document.",
                                                    "properties": {
                                                        "ContentCreatedTimestamp": {
                                                            "description": "The timestamp when the content of the document was originally created.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "ContentModifiedTimestamp": {
                                                            "description": "The timestamp when the content of the document was modified.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "ContentType": {
                                                            "description": "The content type of the document.",
                                                            "maxLength": 128,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "CreatedTimestamp": {
                                                            "description": "The timestamp when the document was first uploaded.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "CreatorId": {
                                                            "description": "The ID of the creator.",
                                                            "maxLength": 256,
                                                            "minLength": 1,
                                                            "pattern": "[&\\w+-.@]+",
                                                            "type": "string"
                                                        },
                                                        "Id": {
                                                            "description": "The ID of the version.",
                                                            "maxLength": 128,
                                                            "minLength": 1,
                                                            "pattern": "[\\w+-.@]+",
                                                            "type": "string"
                                                        },
                                                        "ModifiedTimestamp": {
                                                            "description": "The timestamp when the document was last uploaded.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "Name": {
                                                            "description": "The name of the version.",
                                                            "maxLength": 255,
                                                            "minLength": 1,
                                                            "pattern": "[\\u0020-\\u202D\\u202F-\\uFFFF]+",
                                                            "type": "string"
                                                        },
                                                        "Signature": {
                                                            "description": "The signature of the document.",
                                                            "maxLength": 128,
                                                            "minLength": 0,
                                                            "pattern": "[&\\w+-.@]+",
                                                            "type": "string"
                                                        },
                                                        "Size": {
                                                            "description": "The size of the document, in bytes.",
                                                            "type": "integer"
                                                        },
                                                        "Source": {
                                                            "description": "The source of the document.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "enum": [
                                                                            "ORIGINAL",
                                                                            "WITH_COMMENTS"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "password",
                                                                        "maxLength": 1024,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Status": {
                                                            "description": "The status of the document.",
                                                            "enum": [
                                                                "INITIALIZED",
                                                                "ACTIVE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Thumbnail": {
                                                            "description": "The thumbnail of the document.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "enum": [
                                                                            "SMALL",
                                                                            "SMALL_HQ",
                                                                            "LARGE"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "password",
                                                                        "maxLength": 1024,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ModifiedTimestamp": {
                                                    "description": "The time when the document was updated.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "ParentFolderId": {
                                                    "description": "The ID of the parent folder.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\w+-.@]+",
                                                    "type": "string"
                                                },
                                                "ResourceState": {
                                                    "description": "The resource state.",
                                                    "enum": [
[...]
